---
import "../../scss/main.scss"
import SocialButtons from "../SocialButtons.astro";

---
<div class="pico" style="width: 280px; padding-top: 400px; padding-left: 30px;">
    <SocialButtons />
</div>