---
import "../../scss/main.scss"
import ButtonGroup from "../ButtonGroup.astro"
const {
    simulatedWidth,
    topSpacing,
    componentRoute,
    simulatedHeight
} = Astro.props
---

<div 
    class="responsive-wrapper pico"
    style={`--sim-width: ${simulatedWidth ?? '100dvw'}; --top-spacing: ${topSpacing ?? 0}; --sim-height: ${simulatedHeight ?? `100vh`}`}
>
    <iframe
        id="auto-sizing-iframe"
        class="inner-wrapper"
        src=`${componentRoute}`
        srcdoc="<p>hello</p>"
        width=`${simulatedWidth}`
        height=`${simulatedHeight}`
    >
    </iframe>

    <div id="content-stuff" style="display: none;">
        <slot />
    </div>
</div>

<style is:global>
    .responsive-wrapper {
        width: var(--sim-width);
        height: var(--sim-height);
        min-width: var(--sim-width);
        max-width: var(--sim-width);
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        padding: 0;
        margin-top: var(--top-spacing);
    }

    .inner-wrapper {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
        display: block;
    }
</style>

<!-- <script type="module">
    const wrapper = document.querySelector(".responsive-wrapper")

    if (!wrapper.style.getPropertyValue("--sim-width") || wrapper.style.getPropertyValue("--sim-width") === "100vw") {
        const updateWidth = () => wrapper.style.setProperty("--sim-width", "90%")
        updateWidth()
        window.addEventListener("resize", updateWidth)
    }

    function resizeIframeToContent(iframe) {
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 50 + 'px';
    }

    const iframe = document.getElementById('auto-sizing-iframe');
    resizeIframeToContent(iframe)

    iframe.addEventListener('load', () => {
        resizeIframeToContent(iframe);

        const observer = new ResizeObserver(() => resizeIframeToContent(iframe));
        observer.observe(iframe.contentWindow.document.body);
    });
</script> -->