---
import BlogpostCard from "./BlogpostCard.astro";
import { getCollection } from 'astro:content';

const posts = (await getCollection("medium"))
    .sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    )
    .map(post => {
        if (post.data.heroImage?.startsWith("https://medium.com/_")) {
            //@ts-ignore
            post.data.heroImage = undefined
        }

        return post.data
    });

---

<section class="container">
    <div class="blogpost-grid">
        {
            posts.map(post => <BlogpostCard
                mediumLink={post.link}
                blogImage={post.heroImage}
                title={post.title}
                publishDate={post.pubDate}
            />)
        }
    </div>
</section>

<style lang="scss">
    @use "sass:map";
    @import "@picocss/pico/scss/settings";

    .blogpost-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: var(--pico-spacing);

        @media (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
                gap: var(--pico-spacing);
        }
    }
</style>