
<nav>
    <aside>
        <nav>
            <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            </ul>
        </nav>
    </aside>
</nav>

<style lang="scss">
    nav {
        height: 100vh;
        width: 400px;
    }
</style>
