---
import SocialButtons from "./SocialButtons.astro";
import { Icon } from "astro-icon/components";

const currentPage = Astro.url.pathname;

const navItems = [
    { href: "/about", label: "About", icon: "Info" },
    { href: "/blog", label: "Blog", icon: "Rss" },
];
---

<aside id="nav-container">
    <button id="mobile-nav-button" class="outline secondary" onclick="toggleNav()">
        <Icon name="lucide:menu" />
    </button>
    <nav id="sidebar" class="closed">
        <div>
            <div class="header">
                <img class="headshot" src="/static/profile.jpeg" />
            </div>
            <hgroup>
                <h3>Edward Heaver</h3>
                <p style="width: 20ch;">Building things and solving problems</p>
            </hgroup>
        </div>
        <ul>
            {navItems.map(item => (
                <li class={currentPage === item.href || currentPage.startsWith(item.href + "/") ? "active" : ""}>
                    <a href={item.href}>
                        {item.icon === "Info" && <Icon name="lucide:info" size="28" />}
                        {item.icon === "Rss" && <Icon name="lucide:rss" size="28" />}
                        <span>{item.label}</span>
                    </a>
                </li>
            ))}
        </ul>
        <div class="socials">
            <SocialButtons />
        </div>
    </nav>
</aside>

<style lang="scss">
    @use "sass:map";
    @import "@picocss/pico/scss/settings";

    #nav-container {
        position: relative;
        grid-area: "sidebar";
        padding-left: var(--pico-spacing);
    }

    #mobile-nav-button {
        position: absolute;
        top: var(--pico-spacing);
        right: 0;
        margin-right: var(--pico-spacing);
        display: none;

        @if map.get($breakpoints, "lg") {
            @media (max-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
                display: block;
            }
        }
    }

    :global([data-theme='dark']) #sidebar {
        background-color: #181C25;
    }

    #sidebar {
        padding-top: var(--pico-spacing);
        box-sizing: border-box;
        height: 100vh;
        width: 280px;
        position: fixed;
        inset: 0 auto 0 0;
        align-self: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background-color: #EFF1F4;
        transition: all 0.5s ease-out;

        & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100px;

            & a {
                color: var(--pico-dark);
                text-decoration: none;
            }

            & li {
                display: flex;
                align-items: center;
                width: 100px;

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                svg {
                    padding-right: 8px;
                }

                & :hover {
                    color: var(--pico-primary);
                }
            }

            & li.active a {
                background-color: rgba($color: var(--pico-primary), $alpha: 5.0);
                color: var(--pico-color);
                font-weight: bold;
            }
        }

        & div:last-child {
            margin-top: auto;
        }
    }

    #header {
        display: flex;
        align-content: space-around;
    }

    .closed {
        @media (max-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            transform: translateX(-200%);
        }
    }

    .headshot {
        position: relative;
        height: 11em;
        border-radius: 5%;
    }

    hgroup {
        padding-top: var(--pico-spacing);
    }

    .socials {
        padding-bottom: var(--pico-spacing);
    }
</style>

<script is:inline>
    function toggleNav() {
        const navContainer = document.getElementById("sidebar")
        navContainer.classList.toggle("closed")
    }

    function initNavigation() {
        const navLinks = document.querySelectorAll("#sidebar a");
        
        navLinks.forEach(link => {
            link.addEventListener("click", function(e) {
                document.querySelectorAll("#sidebar li").forEach(li => {
                    li.classList.remove("active");
                });
                
                this.parentElement.classList.add("active");
            });
        });
    }
    
    initNavigation();
    document.addEventListener("astro:page-load", initNavigation);
</script>
