---
import "../scss/main.scss"
import Head from "./Head.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="container pico">
		<slot />
	</body>
</html>