---
import Sidebar from "../components/Sidebar.astro"
import "../scss/main.scss"
import Head from "./Head.astro"

const {title} = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<Head />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="pico page-grid container">
		<Sidebar />
		<div class="container page-content">
			<slot />
		</div>
	</body>
</html>

<style lang="scss">
	:global(.page-grid) {
		display: grid;
		grid-template-rows: 20px 1fr 200px;
		grid-template-columns: 280px 1fr;
		grid-template-areas: 
			"sidebar header"
			"sidebar content"
			"sidebar footer";
		column-gap: 3rem;
	}

	.page-content {
		grid-area: content;
		padding: var(--pico-spacing);
		overflow: auto;
	}
</style>

<script is:inline>
	function getThemePreference() {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}

		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	}

	function updateTheme() {
		const theme = getThemePreference();
		document.documentElement.setAttribute('data-theme', theme);
		if (typeof localStorage !== 'undefined') {
			localStorage.setItem('theme', theme);
		}
	}

	updateTheme();
	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
</script>