---
import "../scss/main.scss"
import Head from "./Head.astro"
---
<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<Head />
	</head>
	<body class="container">
		<slot />
	</body>
</html>
